<!--  * Code Owner: Diwas Atreya (Atreya#2401)
 * Github: https://github.com/diwasatreya
 * Contact on Twitter: https://twitter.com/DiwasAtreya -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= bot.username %></title>

  <!-- 
    - favicon link
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@400;500;700&display=swap"
    rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header">

    <!-- 
      - overlay
    -->
    <div class="overlay" data-overlay></div>

    <div class="container">

      <a href="#" class="logo">
        <img src=" /images/logo.svg" alt="Supreme Homies">
      </a>

      <button class="nav-open-btn" data-nav-open-btn>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <nav class="navbar" data-nav>

        <div class="navbar-top">
           <button class="btn-sign_in">


             <% if(is_logged) {%>
                 
              <a href="/profile" style="color: #FFFFFF;"><%= user.username %>#<%= user.discriminator %></a>
            <%} else {%>
    <img src="/images/logo.svg" ></img>
                <%}%>
        </button>
          <button class="nav-close-btn" data-nav-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li>
            <a href="#aromax" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#about" class="navbar-link">About</a>
          </li>

          <li>
            <a href="#giveaway" class="navbar-link">Giveaway</a>
          </li>

          <li>
            <a href="#team" class="navbar-link">Team</a>
          </li>

          <li>
            <a href="#gears" class="navbar-link">Shop</a>
          </li>

          <li>
            <a href="#contact" class="navbar-link">Contact</a>
          </li>

        

        </ul>

        <ul class="nav-social-list">

          <li>
            <a href="/twitter" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="/instagram" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="/github" class="social-link">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </li>

          <li>
            <a href="/youtube" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </nav>

      <div class="header-actions">

        <button class="btn-sign_in">

          <div class="icon-box">
              <% if(is_logged) {%>
              <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=512%>" ></img>
            <%} else {%>
  <ion-icon name="log-in-outline"></ion-icon>
                <%}%>
            
          </div>

             <% if(is_logged) {%>
              <span><%= user.username %>#<%= user.discriminator %></span>
            <%} else {%>
  <span><a href="/auth/login" style="color: #FFFFFF;">Log-in</a></span>
                <%}%>
        </button>

      </div>

    </div>

  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" id="aromax">
        <div class="container">

          <p class="hero-subtitle">It's &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>

          <h1 class="h1 hero-title">Aromax</h1>

          <div class="btn-group">

 <% if(is_logged) {%>
     <button class="btn btn-link">Dashboard</button>
            <%} else {%>
                <a href="/auth/login" class="btn btn-primary"><span>Login</span>

              <ion-icon name="enter-outline"></ion-icon>
            </a>
                <%}%>
            

          </div>

        </div>
      </section>





      <div class="section-wrapper">

        <!-- 
          - #ABOUT
        -->

        <section class="about" id="about">
          <div class="container">

            <figure class="about-banner">

              <img src=" /images/about-img.png" alt="M shape" class="about-img">

<!--               <img src=" /images/character-1.png" alt="Game character" class="character character-1">

              <img src=" /images/character-2.png" alt="Game character" class="character character-2">

              <img src=" /images/character-3.png" alt="Game character" class="character character-3"> -->

            </figure>

            <div class="about-content">

              <p class="about-subtitle">Find Developer team</p>

              <h2 class="about-title">Experience just for Discord Developers <strong>offer</strong> </h2>

              <p class="about-text">
                We are here to provide you different API's to make discord application. We will show you how you can make your discord application more powerfull and advance.
              </p>

              <p class="about-bottom-text">
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>

                <span>Thanks for visiting our site</span>
              </p>

            </div>

          </div>
        </section>





        <!-- 
          - #TOURNAMENT
        -->

        <section class="tournament" id="giveaway">
          <div class="container">

            <div class="tournament-content">

              <p class="tournament-subtitle">Check out our</p>

              <h2 class="h3 tournament-title">Giveaways</h2>

              <p class="tournament-text">
                We do many giveaways of money, nitro, bot shop items, domains, bot cash etc.
              </p>

              <a href="/discord" class="btn btn-primary">Join Giveaways</a>

            </div>

            <div class="tournament-prize">

              <h2 class="h3 tournament-prize-title">Prize</h2>

              <data value="5">$5</data>

              <figure>
                 
                <img src=" /images/prize-img.png" alt="Prize image">
              </figure>

            </div>

            <div class="tournament-winners">

              <h2 class="h3 tournament-winners-title">Last winners</h2>

              <ul class="tournament-winners-list">

                <li>
                  <div class="winner-card">

                    <figure class="card-banner">
                       <div id="gaw">
                      </div>
                    </figure>

                    <h3 class="h5 card-title">1st place</h3>

                  </div>
                </li>

                <li>
                  <div class="winner-card">

                    <figure class="card-banner">
                       <div id="gaw2">
                      </div>
                    </figure>

                    <h3 class="h5 card-title">2nd place</h3>

                  </div>
                </li>

              </ul>

            </div>

          </div>
        </section>





        <!-- 
          - #GALLERY
        -->

        <section class="gallery">
            
          <div class="container">
<h2 class="h2 section-title">Features</h2>
            <ul class="gallery-list has-scrollbar">

              <li>
                <figure class="gallery-item">
                  <img src="/images/aromax_api.svg" alt="Aromax API">
                </figure>
              </li>

              <li>
                <figure class="gallery-item">
                  <img src="/images/aromax_support.svg" alt="Aromax Support">
                </figure>
              </li>

              <li>
                <figure class="gallery-item">
                  <img src="/images/aromax_cdesign.svg" alt="Costum Design Bot">
                </figure>
              </li>

              <li>
                <figure class="gallery-item">
                  <img src="/images/aromax_bteam.svg" alt="Build your Team">
                </figure>
              </li>

            </ul>

          </div>
        </section>





        <!-- 
          - #TEAM
        -->

        <section class="team" id="team">
          <div class="container">

            <h2 class="h2 section-title">Team Members</h2>

            <ul class="team-list">

              <li>
                    <div id="team1">
        </div>
              </li>

               <li>
                    <div id="team2">
        </div>
              </li>

              <li>
                    <div id="team3">
        </div>
              </li>

              <li>
                    <div id="team4">
        </div>
              </li>

              <li>
                    <div id="team5">
        </div>
              </li>

               <li>
                    <div id="team6">
        </div>
              </li>

               <li>
                    <div id="team7">
        </div>
              </li>

<!--               <li>
                <a href="#" class="team-member">
                  <figure>
                    <img src=" /images/team-member-9.png" alt="Team member image">
                  </figure>

                  <ion-icon name="link-outline"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="team-member">
                  <figure>
                    <img src=" /images/team-member-10.png" alt="Team member image">
                  </figure>

                  <ion-icon name="link-outline"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="team-member">
                  <figure>
                    <img src=" /images/team-member-11.png" alt="Team member image">
                  </figure>

                  <ion-icon name="link-outline"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="team-member">
                  <figure>
                    <img src=" /images/team-member-12.png" alt="Team member image">
                  </figure>

                  <ion-icon name="link-outline"></ion-icon>
                </a>
              </li> -->

            </ul>

            <a href="/apply"><button class="btn btn-primary">Apply for Staff</button>
          </a>
          </div>
        </section>





        <!-- 
          - #GEARS
        -->

        <section class="gears" id="gears">
          <div class="container">

            <h2 class="h2 section-title">check our shop</h2>

            <ul class="gears-list">

              <li>
                <div class="gears-card">

                  <div class="card-banner">

                    <a href="#">
                      <img src="/images/mee6.png" alt="Ipplo Music">
                    </a>

                    <button class="share">
                      <ion-icon name="share-social"></ion-icon>
                    </button>

                    <div class="card-time-wrapper">
                      <ion-icon name="time-outline"></ion-icon>

                      <span>In 7 days</span>
                    </div>

                  </div>

                  <div class="card-content">

                    <div class="card-title-wrapper">

                      <h3 class="h3 card-title">Mee6</h3>

                      <p class="card-subtitle">Source Code</p>

                    </div>

                    <div class="card-prize">$18</div>

                  </div>

                  <div class="card-actions">

                    <button class="btn btn-primary">
                      <ion-icon name="add-outline"></ion-icon>

                      <span>Add to cart</span>
                    </button>

                    <button class="btn card-btn">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                  </div>

                </div>
              </li>

              <li>
                <div class="gears-card">

                  <div class="card-banner">

                    <a href="#">
                      <img src=" /images/rythm.png" alt="Controller">
                    </a>

                    <button class="share">
                      <ion-icon name="share-social"></ion-icon>
                    </button>

                    <div class="card-time-wrapper">
                      <ion-icon name="time-outline"></ion-icon>

                      <span>In 4 days</span>
                    </div>

                  </div>

                  <div class="card-content">

                    <div class="card-title-wrapper">

                      <h3 class="h3 card-title">Rythm Bot</h3>

                      <p class="card-subtitle">Source Code</p>

                    </div>

                    <div class="card-prize">$29</div>

                  </div>

                  <div class="card-actions">

                    <button class="btn btn-primary">
                      <ion-icon name="add-outline"></ion-icon>

                      <span>Add to cart</span>
                    </button>

                    <button class="btn card-btn">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                  </div>

                </div>
              </li>

              <li>
                <div class="gears-card">

                  <div class="card-banner">

                    <a href="#">
                      <img src=" /images/ticket.png" alt="Gaming mask">
                    </a>

                    <button class="share">
                      <ion-icon name="share-social"></ion-icon>
                    </button>

                    <div class="card-time-wrapper">
                      <ion-icon name="time-outline"></ion-icon>

                      <span>In 4 days</span>
                    </div>

                  </div>

                  <div class="card-content">

                    <div class="card-title-wrapper">

                      <h3 class="h3 card-title">Ticket Bot</h3>

                      <p class="card-subtitle">Source Code</p>

                    </div>

                    <div class="card-prize">$15</div>

                  </div>

                  <div class="card-actions">

                    <button class="btn btn-primary">
                      <ion-icon name="add-outline"></ion-icon>

                      <span>Add to cart</span>
                    </button>

                    <button class="btn card-btn">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                  </div>

                </div>
              </li>

            </ul>

          </div>
        </section>





        <!-- 
          - #NEWSLETTER
        -->

        <section class="newsletter">
          <div class="container">

            <div class="newsletter-card">

              <div class="newsletter-content">
                <figure class="newsletter-img">
                  <img src=" /images/newsletter-img.png" alt="Newsletter image">
                </figure>

                <h2 class="h2 newsletter-title">Subscribe to our newsletter</h2>
              </div>

              <form action="" class="newsletter-form">
                <input type="email" name="email" required placeholder="Your Email Address" class="input-field">

                <button type="submit" class="btn btn-secondary">Subscribe</button>
              </form>

            </div>

          </div>
        </section>

      </div>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer>

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand-wrapper">

          <a href="#" class="logo">
            <img src=" /images/logo.svg" alt="GameX logo">
          </a>

          <div class="footer-menu-wrapper">

            <ul class="footer-menu-list">

              <li>
                <a href="#hero" class="footer-menu-link">Home</a>
              </li>

              <li>
                <a href="#about" class="footer-menu-link">About</a>
              </li>


              <li>
                <% if(is_logged) {%>
             <a href="/auth/logout" class="footer-menu-link">Logout</a>
            <%} else {%>
 <a href="/auth/login" class="footer-menu-link">Login</a>
                <%}%>
              </li>

            </ul>

            <div class="footer-input-wrapper">
<!--               <input type="text" name="message" required placeholder="Find Here Now" class="footer-input"> -->
                    
<!--                   <% if(is_logged) {%>
                      <center>
             <a href="/auth/logout" class="footer-menu-link">Logout</a>
            <%} else {%>
 <a href="/auth/login" class="footer-menu-link">Login</a>
                <%}%>
          </center> -->

<!--               <button class="btn btn-primary">
                <ion-icon name="search-outline"></ion-icon>
              </button> -->
            </div>

          </div>

        </div>

        <div class="footer-quicklinks">

          <ul class="quicklink-list">

            <li>
              <a href="#" class="quicklink-item">Faq</a>
            </li>

            <li>
              <a href="#" class="quicklink-item">Help center</a>
            </li>

            <li>
              <a href="#" class="quicklink-item">Terms of use</a>
            </li>

            <li>
              <a href="#" class="quicklink-item">Privacy</a>
            </li>

          </ul>

          <ul class="footer-social-list">

            <li>
              <a href="#" class="footer-social-link">
                <ion-icon name="logo-discord"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="footer-social-link">
                <ion-icon name="logo-twitch"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="footer-social-link">
                <ion-icon name="logo-xbox"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="footer-social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          Copyright &copy; 2022 <a href="#">Aromax</a>. all rights reserved
        </p>

        <figure class="footer-bottom-img">
          <img src=" /images/footer-bottom-img.png" alt="Online payment companies logo">
        </figure>
      </div>
    </div>

  </footer>





  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="btn btn-primary go-top" data-go-top>
    <ion-icon name="chevron-up-outline"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>

                  <!--  * Code Owner: Diwas Atreya (Atreya#2401)
 * Github: https://github.com/diwasatreya
 * Contact on Twitter: https://twitter.com/DiwasAtreya -->